# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

ml-zoomcamp

../08-deep-learning/model_v1.h5
../08-deep-learning/xception_v1_01_0.760.h5
../08-deep-learning/xception_v1_02_0.806.h5
../08-deep-learning/xception_v1_04_0.815.h5
../08-deep-learning/xception_v1_05_0.827.h5
../08-deep-learning/xception_v4_1_01_0.842.h5
../08-deep-learning/xception_v4_1_02_0.853.h5
../08-deep-learning/xception_v4_1_03_0.856.h5
../08-deep-learning/xception_v4_1_04_0.877.h5
../08-deep-learning/xception_v4_1_08_0.880.h5
../08-deep-learning/xception_v4_1_10_0.886.h5
../08-deep-learning/xception_v4_1_14_0.891.h5
../08-deep-learning/xception_v4_1_16_0.900.h5

../09-serverless/clothing-model.h5
../09-serverless/dino_dragon_10_0.899.h5
../09-serverless/jobs/clothing-model.tflite

4ba1efa946abab7ea8b55ee35b8c1d9b2275dbc7


/Users/daniel/ml-zoomcamp/10-kubernetes/clothing-model

/Users/daniel/ml-zoomcamp/10-kubernetes/clothing-model-v4.h5